<h3>Here we create a totally new post</h3>

<form action="/post/new-post" method="POST">
   <label for="">Body of the post</label>
   <br>
   <input style="height:50vh; width:80vw" type="text" name="body">
   <br>
   <button type="submit">Create your post</button>
</form>