<h1>Hello there, {{user.username}} </h1>


<ul>
   <li>
      <a href="/profile/update-profile">Update your profile</a>
   </li>
   <li>
      <a href="/profile/update-password">Update your password</a>
   </li>
   <li>
      <button>Delete your profile</button>
   </li>
</ul>

{{hello}}


{{#each user.posts}}
<h4>
   {{body}}
</h4>

{{/each}}